<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>评分</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/index/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/index/layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="__STATIC__/index/layuiadmin/style/style.css" media="all">
</head>
<style>
.layui-shenhuilu img{border-radius: 20px}
.layui-shenhuilu-r{padding: 5px 0;}
</style>
<body onLoad="initPieChart();">
  <!-- 点击shipin里的详情按钮跳到此页 -->
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <!-- 标题 -->
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body layui-shenhuilu clear">
            <img src="{$topic.topic_cover}" alt="" class="left">
            <div class="layui-shenhuilu-r left">
              <h4>{$topic.topic_title}<img src="__STATIC__/index/layuiadmin/imgs/caozuo3.png" alt=""></h4>
              <p>发起人：<img src="{$topic.topic_avatar}" alt="" id="sm-touxiang"> {$topic.topic_nickname}<span class="span-margin-l">{$topic.create_time}</span></p>
              <p>参与人数：{$topic.topic_count}<span class="span-margin-l">播放量：{$topic.topic_view}</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 一行字 -->
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class=layui-card-body>
            <p style="color: #000">{$topic.topic_desc}</p>
          </div>
        </div>
      </div>

      <!-- 两个图表 -->
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">使用人数行业分布</div>
          <div class="layui-card-body">
            <div id="tubiao1" style="height: 500px"></div>
          </div>
        </div>
      </div>
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">每日新增人数趋势图</div>
          <div class="layui-card-body">
            <div id="tubiao2" style="height: 500px"></div>
          </div>
        </div>
      </div>

      <!-- 第三个趋势图 -->
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">播放量增量趋势图<span class="right mtd-shipin-td-btn"><a href="list1.html" title="" class="mtd-shipin-td-btn mtd-shipin-td-btna"><button type="button" class="layui-btn layui-btn-sm  mtd-shipin-btn-checked">总量</button></a><button type="button" class="layui-btn layui-btn-sm">增量</button></span></div>
          <div class="layui-card-body">
            <div id="tubiao3" style="height: 500px"></div>
          </div>
        </div>
      </div>

      <!-- 好多视频缩图 -->
<!--       <div class="layui-col-md12">
        <ul class="shipun-thumb-ul clear">
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          <a href="" title="">
            <li><img src="__STATIC__/index/layuiadmin/imgs/no1-1.png" alt=""><span><img src="__STATIC__/index/layuiadmin/imgs/xin-bai.png" alt="" class="bofang-xin"> 33.3w</span></li>
          </a>
          
        </ul>
      </div> -->
    </div>
  </div>

  
  <script src="__STATIC__/index/layuiadmin/layui/layui.js"></script>  
  <script src="__STATIC__/index/layuiadmin/style/js/jquery.min.js"></script>  
  <script src="__STATIC__/index/layuiadmin/style/js/jquery.easy-pie-chart.js"></script>  
  <script src="__STATIC__/index/layuiadmin/style/js/echarts.min.js"></script>
  <script>

// 1.轮播 
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
});

// 2.使用人数行业分布 图表
var myChart = echarts.init(document.getElementById("tubiao1")); 
option = {
    xAxis: {
        type: 'category',
        data: ['1', '3G', '3GS', '4', '4S', '4SG', '5']
    },
    color:['#3c88ba'],
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [120, 200, 150, 80, 70, 110, 130],
        type: 'bar'
    }]
};
myChart.setOption(option); 

// 3.每日新增人数趋势图 图表
var myChart = echarts.init(document.getElementById("tubiao2")); 
var option = {
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    color:['#b3def1'],
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line',
        areaStyle: {}
    }]
};
myChart.setOption(option); 

//4.播放量增量趋势图
var myChart = echarts.init(document.getElementById("tubiao3")); 
var option = {
    xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    color:['#0092ff'],
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line',
        smooth: true
    }]
};
myChart.setOption(option); 
  </script>
</body>
</html>