

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>创建用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__CSS__/admin.css" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">创建用户</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group" id="myform">

          <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
              <input type="text" name="member_name" autocomplete="off" placeholder="请输入用户名" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">用户手机</label>
            <div class="layui-input-block">
              <input type="text" name="member_mobile"  autocomplete="off" placeholder="请输入用户手机(登陆账号)" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">登陆密码</label>
            <div class="layui-input-block">
              <input type="text" name="member_password"  autocomplete="off" placeholder="请输入代理商登陆密码" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">所属用户组</label>
            <div class="layui-input-block">
              <select name="member_group" lay-verify="required">
                {volist name="groups" id="group"}
                  <option value="{$group.group_id}">{$group.group_name}</option>
                {/volist}
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">允许登陆</label>
            <div class="layui-input-block">
              <input type="radio" name="member_forbidden" value="1" title="有" checked="">
              <input type="radio" name="member_forbidden" value="0" title="无">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">后台权限</label>
            <div class="layui-input-block">
              <input type="radio" name="member_is_admin" value="1" title="有" checked="">
              <input type="radio" name="member_is_admin" value="0" title="无">
            </div>
          </div>

          <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
              <div class="layui-footer" style="left: 0;">
                <div class="layui-btn" lay-submit="" lay-filter="component-form-demo1">确认创建</div>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <script src="__STATIC__/layui/layui.js"></script>  
  <script>
    layui.config({
      base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
      var $ = layui.$
      ,layer = layui.layer
      ,upload = layui.upload
      ,form = layui.form;

      /* 监听提交 */
      form.on('submit(component-form-demo1)', function(data){
        $.ajax({
          url:"{:url('create')}",
          type:"POST",
          data:$("#myform").serialize(),
          success:function(res){
            layer.msg(res.msg);
            if(res.code)
              setTimeout(function(){window.parent.location.reload()},2000);
          },error:function(){
            layer.msg('服务器错误，请稍后重试');
          }
        })
      });
    });
  </script>
</body>
</html>