<!DOCTYPE html>
<html>
<head>
	<title>添加收录</title>
</head>
<body>
    <div class="layui-col-md12">
      <div class="shoulu-one">
        <h3>添加收录弹框</h3>
        <p style="color: #000">收录抖音号</p>
          <!-- 搜索 -->
          <div class="right sanbang-right" style="width: 100%">
            <div class="layui-form-item" style="width: 100%">
              <div class="layui-input-inline sanbang-right-div" style="width: 100%">
                <input type="" name="" lay-verify="pass" placeholder="请输入抖音号ID或主页链接" autocomplete="off" class="layui-input" style="width: 100%">
                <button type="button" class="layui-btn layui-btn-sm" style="background-color:#5597e5">搜索</button>
              </div>
            </div>
          </div>
<!--           <p class="clear">抱歉，未查询到该抖音号，请输入其他关键词重新搜索
            <span class=" mtd-shipin-tab-right right">
              <a href="#" title="" style="color:#5597e5">
                <img src="../../../layuiadmin/imgs/wen.png" alt=""> 如何获取抖音号主页链接
              </a>
            </span>
          </p> -->
      </div>
    </div>
</body>
</html>